.textarea{
  text-align: center;
}

.container-list{
  width: 90%;
  margin: 20px auto;
  /* border: 1px solid coral; */
  display: flex;
  text-align: center;
}

.title{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 50px;
  padding: 20px;
  /* border-bottom: 1px solid coral; */
}

.todo-items{
  width: 33%;
  /* border: 1px solid coral; */
}
.inprogress-items{
  width: 33%;
  /* border: 1px solid coral; */
}
.done-items{
  width: 33%;
  /* border: 1px solid coral; */
}